<h3>상품 목록 확인</h3>

<% console.log("ejs => ", list) %>
id : <%= list.goods_id %><br>
<table border="1">
    <thead>
        <tr>
            <th>goods_id</th>
            <th>title</th>
            <th>price</th>
            <th>number</th>
            <th>total</th>
        </tr>
    </thead>
    <% let sum = 0%>
    <% list.forEach(v => { 
        sum += v.total%>
    <tbody>
    <tr>
        <td><%= v.goods_id %> </td>
        <td><%= v.title %> </td>
        <td><%= v.price %> </td>
        <td><%= v.number %> </td>
        <td><%= v.total %> </td>
    </tr>
<% }) %>
    <tr>
        <td colspan="5" align="right">
            <b>총 금액 : <%= sum %></b>
        </td>
    </tr>
    </tbody>
</table>
<a href="/cookie/cart"> 목록 이동</a>