<h3>logout 페이지 입니다.</h3>
<a href="/">index</a>
<a href="login">login</a>

<hr>

<%= c.key1 %> <br>
<%= c.key2 %> <br>
<%= c.key3 %> <br>
<%= c.key4 %> <br>
<%= c.key4['k1'] %> <br>
<%= c.key4.k2 %> <br>